body {
	height: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
	background-image: url("https://image.freepik.com/free-vector/pink-watercolor-texture_1048-3201.jpg");
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
	color: white;
	font-family: Helvetica, sans-serif;
	}

a:link {
	color: white;
} 
a:visited {
	color: white;
}
a:hover {
	color: black;
}

#map {
 height: 800px;
 width: 800px;
 margin-left: auto;
 margin-right: auto
 }
