html {
	background: url(https://image.freepik.com/free-vector/pink-watercolor-texture_1048-3201.jpg) no-repeat center fixed; 
	background-size: cover;
	}
body {
	color: white;
	font-family: Helvetica, sans-serif;
	}
