html {
	height: 100%;
	font-family: Helvetica, sans-serif;
	color: #CC66FF
}

body {
	height: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
	background-image: url("https://cgaskell9367.files.wordpress.com/2015/04/watercolor4.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

a:link {
	color: #CC66FF;
} 
a:visited {
	color: #CC66FF;
}
a:hover {
	color: #FFCCFF;
}

#map {
 height: 800px;
 width: 800px;
 margin-left: auto;
 margin-right: auto
 }
