html {
	height: 100%;
	font-family: Helvetica, sans-serif;
	color: #CC99CC;
	background: url(https://cgaskell9367.files.wordpress.com/2015/04/watercolor4.jpg) no-repeat center fixed;
	background-size: cover;
}

body {
	height: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
}

a:link {
	color: #CC99CC;
} 
a:visited {
	color: #CC99CC;
}
a:hover {
	color: white;
}

#select h3:hover {
	background-color: white;
}

#map {
 height: 600px;
 width: 800px;
 margin-left: auto;
 margin-right: auto
 }
 
#map div.ol-viewport div.ol-overlaycontainer-stopevent div.ol-overviewmap.ol-unselectable.ol-control.ol-uncollapsible {
	top: 200px;
	bottom: 300px;
}
